<header id="header">
  <div id="logo-group">
    <span id="logo"> <%= image_tag 'logo.png', alt: 'SmartAdmin' %> </span>
  </div>
  <div class="pull-right">
    <!-- end collapse menu -->
    <% if user_signed_in? %>
      <div class="btn-header transparent pull-right">
        <span>
          <%= link_to  destroy_user_session_path, method: 'delete' do %>
            <i class="fa fa-sign-out"></i>
          <% end -%>  
        </span>
      </div>
      <!-- input: search field -->
      <form action="/app_views/search_page" method="post" class="header-search pull-right">
        <input id="search-fld" type="text" name="param" placeholder="Enter search query" class="ui-autocomplete-input" autocomplete="off">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
        <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
      </form>
    <% else %>
      <%= yield :top_right %>
    <% end -%>  
  </div>
</header>